body{
    font-family: 'Roboto', sans-serif!important;
}
.navbar-default {
    background-color: #1264A4;
    border-color: #ffffff;
}
.navbar-default ul li a{
    color: #fff!important;
}
.brand{
    background: #fff;
    border:1px solid #ffffff;
    padding: 10px;
}
.container {
    width: 980px;
}
.panel {
    border-radius: 0px;
}
.form-control{
    border-radius: 0px;
}
.btn{
    border-radius: 0px;
}
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary.active,
.btn-primary:active{
    background-color: #1264A4;
    border-color: #1264A4;
}
.cursor-default{
    cursor: default;
}
.btn-logout{
    float: left;
    width: 100%;
    background-color: #2F9EC8;
    padding: 0px 10px;
    font-weight: 500;
    line-height: 2;
}